*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    
}
.circle1{
   position: absolute;
   top: 50px;
   left: 850px;
   width: 400px;
   height: 400px;
   border-radius: 50rem;
   background-color: rgb(208, 255, 0);
   z-index: -1;
}
.circle2{
   position: absolute;
   top: 200px;
   left: 100px;
   width: 400px;
   height: 400px;
   border-radius: 50rem;
   background-color: rgb(0, 255, 247);
   z-index: -1;
}

.cir_cover{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#d9ff00,#00f7ff);
    border: 4px solid white;
    border-radius: 50px;
}
.mithdp{
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    border: 4px solid white;
}
.name{
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 600;
}
.cardabout{
    font-weight: 500;
}




@media (max-width: 972px){
    .circle1{
        top: 50px;
        left: 500px;
        width: 250px;
        height: 250px;
     
    }
    
    .circle2{
        top: 300px;
        left: 100px;
        width: 250px;
        height: 250px;
        
     }
}

@media (max-width: 600px){
    .circle1{
        top: 50px;
        left: 320px;
        width: 200px;
        height: 200px;
     
    }
    
    .circle2{
        top: 300px;
        left: 100px;
        width: 200px;
        height: 200px;
        
     }
}

@media (max-width: 480px){

    .main{
        width: 100%;
        height: 50vh;
        
    }
    .cir_cover{
        width: 100%;
        height: 50vh;
        backdrop-filter: blur(30px);
    }
    .circle1{
        top: 20px;
        left: 228px;
        width: 100px;
        height: 100px;
     
    }
    
    .circle2{
        top: 221px;
        left: 37px;
        width: 100px;
        height: 100px;
        
     }

     .card{
        width: 270px;
        height: 270px;
        margin-top: 10px;
        background: linear-gradient(#d9ff00,#00f7ff);
    }
    .mithdp{
        width: 100px;
        height: 100px;
        border-radius: 50rem;
    }
    .name{
        margin-top: 15px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 500;
    }
    .cardabout{
        font-weight: 400;
    }
}
