*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #242424;
    display: flex;
    padding: 10px 10px;
    gap: 10px;
}

.H1{
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.box1{
    background-color: #303030;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid #616161;
}

.box1items{
    padding: 10px 10px;
}
.atag1{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.btn1{
    color: white;
    background-color: #646464;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid #bfbfbf;
   
}
.btn1:hover{
    border: 2px solid #00fffb;
}

.box2{
    background-color: #303030;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid #616161;
}
.implinksbtn{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.linkbtn1{
    background-color: #646464;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid #bfbfbf;
    margin-bottom: 10px;
}
.linkbtn1:hover{
    border: 2px solid #8fff2e;
}


@media (max-width: 972px){
    .container{
        flex-direction: column;
    }
    .box1{
        background-color: #303030;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .box2{
        background-color: #303030;
        width: auto;
        height: auto;
    }
}