@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.sec1{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#00f7ff,#ff00d9);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Tourney';
    cursor: pointer;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.832);
    border-radius: 8px;
    cursor: pointer;
}

.coastalimgcontainer{
    text-align: center;
    cursor: pointer;
}
.coastalimg{
    width: 400px;
    border-radius: 8px;
    cursor: pointer;
}

h2{
    font-size: 40px;
}

.coastalinfo{
    text-align: center;
}
h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 40px;
}
.coastbtn{
    background: linear-gradient(148deg,#00ffe5,#0008fc);
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 50rem;
    
    box-shadow: 5px 4px 8px #2fffea;
}

.sec2{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#00f7ff,#ff00d9);
    
}
.holder{
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.game1{
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.813);
    /*background: rgb(200,200,200);
background: linear-gradient(90deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);*/
}
.TeamVimg{
    width: 300px;
    border-radius: 8px;
}
.Teamname{
    font-size: 30px;
    font-weight: 700;
}
.game2{
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.813);
   /* background: rgb(206,206,206);
background: linear-gradient(90deg, rgba(206,206,206,1) 0%, rgba(163,255,163,1) 100%);*/
}
.Lacosimg{
    width: 300px;
    border-radius: 8px;
}
.Lacosname{
    font-size: 30px;
    font-weight: 700;
}
.game3{
    text-align: center;
    padding: 20px 10px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.813);
   /* background: rgb(255,139,139);
background: linear-gradient(90deg, rgba(255,139,139,1) 0%, rgba(255,255,255,1) 100%);*/
}
.theraceimg{
    width: 350px;
    border-radius: 8px;
}
.theracename{
    font-size: 30px;
    font-weight: 700;
}

/* btns */
.Teambtn{
    border: none;
    padding: 5px 22px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    background: rgb(16,16,230);
background: linear-gradient(90deg, rgba(16,16,230,1) 0%, rgba(0,212,255,1) 100%);
}
.Lacosbtn{
    border: none;
    padding: 5px 22px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    background: rgb(16,16,230);
background: linear-gradient(90deg, rgba(16,16,230,1) 0%, rgba(0,212,255,1) 100%);  
}
.theracebtn{
    border: none;
    padding: 5px 22px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    background: rgb(16,16,230);
background: linear-gradient(90deg, rgba(16,16,230,1) 0%, rgba(0,212,255,1) 100%);  
}
a{
    color: white;
    text-decoration: none;
}

@media (max-width: 972px){

    .sec1{
        width: auto;
        height: auto;
        padding: 0 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        
    }
    .sec2{
        width: auto;
        height: auto;
    }
    
    .container{
        flex-direction: column;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    .holder{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    
    .coastalimg{
        width: 200px;
        border-radius: 8px;
    }
    .container{
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media (max-width: 480px){
    h1{
        text-align: center;
        font-size: 32px;
        font-family: 'Tourney';
    }
    h2{
        font-size: 32px; 
    }
    h3{
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .container{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .TeamVimg{
        width: 200px;
        border-radius: 8px;
    }
    .Teamname{
        font-size: 30px;
        font-weight: 700;
    }
    .theraceimg{
        width: 300px;
        border-radius: 8px;
    }
    .theracename{
        font-size: 30px;
        font-weight: 700;
    }
}